/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}


body{
	font: 16px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,"Lato", sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}

/* header */
#gnav a{
    color: #000;
    font-family:'Lato', 'Modern Antiqua', 'Noto Sans JP',serif;

}

/* footer */
footer{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 15px;
}

/* common */
#my_twitter{
    color:grey;
}

h3{
    font-size: 20px;
    font-family:'Lato', sans-serif;
    padding-bottom: 15px;
}

img{
	max-width: 100%;
	height: auto;
}

#mainImg{
    max-width: 740px;
    height: auto;
    margin: 0 auto;
}

section{
  clear: both;
}

/* menubar */
#gnav {
    padding: 5px;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 1px 6px 3px -2px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    overflow-y: auto;
}

#gnav ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#gnav li {
font-weight: bold;
font-size: 15px;
padding: 0 50px;
}

#gnav li a {
color: #333;
letter-spacing: 0.01em;
margin-left: 12px;
}

section h2{
	width: 60%;
	margin: 70px auto;
	font-size: 25px;
	font-weight:normal;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
}

section h2 span {
	padding-bottom: 15px;
	border-bottom: 1.5px solid #000;
}

.txt{
    margin: 0 auto;
    text-align: center;
	padding-bottom: 80px;
}

#btn-home{
    text-align: center;
    padding: 10px;
}

#skills .inner{
    width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.img{
    border-radius: 50%;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}


#twitter_icon{
    max-width: 5%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#contact{
    padding-bottom: 100px;
}

#unbanned{
    padding-bottom: 10px;
    width: 15%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

@media only screen and(min-width: 799px){
    body{
		font-size:14px;
	}

	#wrapper{
		width: 100%;
    }
    #footer{
		padding: 30px 10px 70px 0;
    }
    .program_lang{
        text-align: center;
    }
    .program_lang li{
        display: inline-block;
        width: 18%;
        padding: 0% 3%;
        vertical-align: top;
    }
    #python{
        float:left;
        margin-left: 25%;
    }
    #html{
        float: right;
        margin-right: 25%;
    }
}

@media only screen and (min-width:641px){
    .txt{
        width: 94%;
		padding-bottom: 30px;
    }
}

@media only screen and(max-width: 799px){
    .panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -10px;
		z-index: 100;
	}

	#gnav{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
	}

	#gnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#gnav li a{
		position: relative;
		display: block;
		padding: 15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}
	#gnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
        transform: rotate(45deg);
	}

    section h2{
		margin: 55px auto;
	}

}